<html>

<head>
    <style type="text/css">
        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="options">
        <h1>Auto Grocery - Settings</h1>

        <div v-if="isLoggedIn">
            <div class="form-group">
                <label>Selected Board:</label>
                <span v-if="selected.board">{{ selected.board.name }}</span>
                <span v-else>None selected</span>
                <a href="#">Change</a>
            </div>

            <div class="form-group">
                <label>Selected List:</label>
                <span v-if="selected.list">{{ selected.list.name }}</span>
                <span v-else>None selected</span>
                <a href="#">Change</a>
            </div>

            <button v-on:click="logout">Logout</button>
        </div>

        <div v-if="!isLoggedIn">
            <button v-on:click="login">Login to Trello</button>
        </div>
    </div>

    <script type="text/javascript" src="/libs/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/libs/trello-client.js"></script>
    <script type="text/javascript" src="/libs/vue.csp-compliant.js"></script>
    <script type="text/javascript" src="/configs/configs.js"></script>
    <script type="text/javascript" src="/options/options.js"></script>
</body>

</html>